<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.studyroom.mapper.CardUserMapper">

    <resultMap type="com.ruoyi.studyroom.domain.vo.CardUserVo" id="CardUserResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="cardId" column="card_id"/>
        <result property="expiryTime" column="expiry_time"/>
        <association property="card" javaType="com.ruoyi.studyroom.domain.vo.CardVo">
            <result property="cardTitle" column="card_title"/>
            <result property="price" column="price"/>
            <result property="usable" column="usable"/>
            <result property="frequency" column="frequency"/>
            <result property="term" column="term"/>
        </association>
    </resultMap>
    <select id="selectVoListByUserId" resultMap="CardUserResult">
        select
        scu.id,scu.card_id, scu.user_id, sc.card_title, sc.price, sc.usable, sc.frequency, sc.term,scu.expiry_time
        from sr_card_user scu
                     left join sr_card sc on scu.card_id = sc.id
        ${ew.customSqlSegment}
    </select>
</mapper>
