<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.studyroom.mapper.RoomSeatMapper">

    <resultMap type="com.ruoyi.studyroom.domain.vo.RoomSeatVo" id="RoomSeatResult">
        <result property="id" column="id"/>
        <result property="roomId" column="room_id"/>
        <result property="seatId" column="seat_id"/>
        <association property="seat" javaType="com.ruoyi.studyroom.domain.Seat">
            <result property="seatNum" column="seat_num"/>
            <result property="seatArea" column="seat_area"/>
            <result property="areaName" column="area_name"/>
        </association>
    </resultMap>


    <select id="selectPageBySeat" resultMap="RoomSeatResult">
        select rs.room_id ,ss.seat_id, ss.seat_num, ss.seat_area, ss.area_name
        from sr_room_seat rs
            right join sr_seat ss
                on rs.seat_id = ss.seat_id
        ${ew.customSqlSegment}
    </select>

</mapper>
