<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.studyroom.mapper.RoomMapper">

    <resultMap type="com.ruoyi.studyroom.domain.Room" id="RoomResult">
        <result property="roomId" column="room_id"/>
        <result property="roomName" column="room_name"/>
        <result property="roomAddr" column="room_addr"/>
        <result property="phone" column="phone"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
